* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: 50px auto;
}

header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
}

.flexcard {
  width: 20%;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  font-size: 1.75em;
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right,#588f5b, #4bb651);
  color: #fff;
  border-radius: 1px 60px 60px 1px;
}
.card-header-inicio{
  font-size: 1.75em;
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right,#588f5b, #4bb651);
  color: #fff;
  /*border-radius: 10px 40px 40px 10px;*/
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

/* .card-body .link {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
} */

.social{
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}
/*Enlaces en los card-header*/

.card-header a:active{
  background-color: #b3f5b6;
}

.flexcard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}


a:link {
  color: #616161;
  text-decoration: none;
}
a:active{
  color: black
}
a:visited{
  color: #616161;
  text-decoration: underline;
}

/* ------------------- FIN CSS LINKS --------------------------------*/

@media screen and (max-width: 1100px) {
  .flexcard {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .flexcard {
    width: 80%;
  }
}
