/* Enlaces separados de forma equidistante entre ellos*/
nav{
    display: flex;
    justify-content:space-around;
}

section {
    display: flex;
    flex-direction: column;

    /* A cada sección añado borde, padding y margin */
    border: 2px solid rgb(255, 84, 104);
    padding: 10px;
    margin: 10px;
}

    /* A cada imagen añado borde, padding y margin */
img{
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
}

Ten en cuenta la accesibilidad del sitio
Comprueba que el sitio es válido según uno de los validadores indicados
h1 {
    background-color: green;
}

h2 {
    background-color: greenyellow;
}
.right{
    width: 64px;
    height: 64px;

    /* Sitúala a la derecha la imagen con la propiedad float */
    float: right;
}

.left{
    width: 64px;
    height: 64px;

    /* Sitúala a la izquierda la imagen con la propiedad float */
     float: left;

}



/* Este archivo CSS es VALIDO */
